@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap');

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Lato', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lato';
  font-size: 0.9em;
}

.top-navigation {
  width: 100%;
}

.hide {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background-color: #143A7C;
  min-height: 20%;
  padding: 10px;
  overflow: hidden;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #fff;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.active {
  display: block;
}

.nav-left {
  display: none;
}

.bottom-navigation {
  display: flex;
  flex-direction: row;
}

.bottom-list {
  padding: 10px;
  list-style-type: none;
  text-transform: uppercase;
}

.nav-bottom-links:hover {
  text-decoration: underline;
  color: yellowgreen;
}

.search {
  display: flex;
}

.search-term {
  width: 50%;
}

.search-button {
  width: 40%;
  background: #E61F7E;
  outline: none;
  color: white;
  font-weight: 300;
  border-radius: 2px;
}

.banner {
  text-align: center;
  background: #bfcc2d;
  color: wheat;
  text-transform: uppercase;
  line-height: 2em;
}

.banner span {
  color: lemonchiffon;
}

.content-desc {
  height: 70em;
  display: flex;
  flex-direction: column;
}

.col-image {
  height: 52%;
}

.aligner-item {
  width: 90%;
  margin: 1.5em;
}

.order-button {
  background-color: palevioletred;
  color: white;
  text-transform: uppercase;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  margin: auto;
}

#content-carousel {
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
}

#thumbnail-carousel {
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
  background: #eaeaea;
  padding: 10px 0;
}

#thumbnail-carousel .thumb {
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

#thumbnail-carousel .thumb:last-child {
  margin-right: 0;
}

.thumb:hover {
  cursor: pointer;
}

.thumb img {
  opacity: 0.5;
}

.thumb img:hover {
  opacity: 1;
}

.thumb.active img {
  opacity: 1;
  border: 1px solid #1d62b7;
}

.small-text {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 200;
  font-family: "Lato", Sans-serif;
}

.small-text-bold {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Lato", Sans-serif;
}

.content-header {
  margin-bottom: 25px;
}

.content-icon-area {
  display: flex;
}

.content-icon-area span {
  margin: auto auto 1rem 2rem;
}

#content-divider1,
#content-divider2 {
  margin: 0 0 5rem;
  padding-top: 3rem;
  border-top: 1px solid black;
}

.content-group {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid gray;
  border-radius: 2%;
  padding: 1em;
}

.discount {
  border: 1px;
  border-radius: 5%;
  background: orange;
  width: 50px;
  margin-top: 1em;
  text-align: center;
}

.colored-text {
  color: orangered;
}

.small-text span {
  text-decoration: line-through;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header .aside {
  color: #E61F7E;
}

.content-date {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 1.5rem;
  margin-right: 3em;
}

.content-date-group {
  display: flex;
}

.content-date .bold-date {
  font-size: 33px;
}

.content-date .date {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}


@media (min-width: 768px) {
  .top-navigation {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: fff;
  }

  .nav-left {
    display: flex;
    margin: auto;
    flex-direction: row;
  }

  .header-button {
    border: 1px solid white;
    border-radius: 90px;
    color: #fff;
    width: 150px;
    text-align: center;
  }

  .user-icon {
    padding-left: 2em;
  }

  .bottom-list {
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
  }

  .search {
    display: flex;
  }

  .search-term {
    width: 50%;
  }

  .search-button {
    width: 10%;
    background: #E61F7E;
    outline: none;
    color: white;
    font-weight: 300;
    border-radius: 2px;
  }

  .content-text {
    height: 20em;
    margin: 3em;
  }

  .content-desc {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 40em;
    width: 80%;
  }

  .col {
    flex: 1;
  }

  .col-left {
    order: -1;
  }

  .content-text {
    display: flex;
    margin: 2em;
  }

  .aligner-item {
    width: 60%;

  }

  .col-image {
    background-size: cover;
    background-position: center center;
    height: 100%;
  }

  .card-container {
    flex-direction: row;
  }

  .amount-aside {
    margin: auto 2em;
  }

  .content-date {
    flex-wrap: nowrap;
    margin-right: 0.8em;
  }

  .order-button {
    margin-top: 1.5em;
  }

}
